@model Blog4Net.Web.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Black Sheep  |  Login</title>
     
        <link href="@Url.Content("~/Content/themes/simple/admin.css")" rel="stylesheet" />
     
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>        
    </head>

    <body>
        <h3>Black Sheep  |  Admin area</h3>
        <div id="login-div" class="loginBox">
            
 
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Login</legend>
                    <p align="center">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username)
                        @Html.ValidationMessageFor(m => m.Username)
                    </p>
             
                    <p align="center">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </p>
 
                    @Html.Hidden("ReturnUrl")
                    @Html.AntiForgeryToken()
 
                    <p>
                        <input type="submit" value="Login" />
                    </p>
                </fieldset>
            }
            
            @Html.ValidationSummary(true)

        </div>
    </body>
</html>
